.displayContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 960px) {
  .displayContainer {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
}

.map {
  width: 46rem;
  /* background-color: green; */
  height: 49rem;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.mapStyle {
  width: 46rem;
  height: 46rem;
  border-radius: 9px;
}

.detailsAndControl {
  width: 46rem;
  /*background-color: #f8f9fa;*/
  height: 46rem;
  border-radius: 9px;
  /*box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;*/
}
