.displayControlButtons {
  height: 46rem;
}

.buttonCarControlContainer {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
}

.displayDropDownButton {
  height: auto;
  width: 100%;
  position: relative;
}

.dropDownButton {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 9px;
  padding: 2rem;
  height: 6rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

.dropDownButtonOpen {
  background-color: pink; 
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; 
  border: 3px solid rgb(249, 158, 173);
}

.toggleIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.toggleIcon:hover {
  color:rgb(53, 150, 182);
}

.contentClosed {
  display: none;
  cursor: default;
}

.contentOpen {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  width: 100%;
  max-height: 200px;
  scrollbar-width: none;
  overflow-y: auto;
  border-radius: 4px;
  z-index: 1;
  align-items: center;
}

.displayDropDownButton {
  position: relative;
}