
.button {
    margin-top: 0;
    width: 100%;
    height: 6rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 9px;
    padding: 2rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    background-color: transparent;
}

.button.smallButton {
    padding: 2px 5px;
    font-size: 5px !important;
    width: auto !important;
}

.button:hover {
    background-color: rgb(198, 216, 230);
}
  
.buttonText {
    flex: 1; /* Make the text take up remaining space */
    font-family: 'Roboto', sans-serif; 
    font-size: 16px; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

.boldButton {
    font-weight: bold;
}
 
.buttonItem {
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    background: #e6d9d9;
    border-radius: 9px;
    border-bottom: 1px solid whitesmoke;
    text-align: center;
}
  
.buttonItem:hover {
    background-color: rgb(198, 216, 230);
}

