.titleBar {
  width: 100%;
  height: 5rem;
  background-color: #f8f9fa;
  color: #495057;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.logo {
  height: 5rem;
  width: 5rem;
  opacity: 0.7;
}

.titleCenter {
  max-width: 100rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.titleCenter:hover {
  opacity: 0.7;
}
